html {
    font-size: 62.5%;
    font-family: monospace;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: radial-gradient(#404040, #303030, #202020);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

input {
    background-color: #505050;
    border: 0;
    border-radius: 2px;
    color: #c0c0c0;
    outline: 0px;
    padding: 5px;
    text-align: center;
    width: 200px;
}

button {
    background-color: #505050;
    border: 0;
    border-radius: 2px;
    color: #c0c0c0;
    outline: none;
    padding: 5px;
}

button:hover {
    background-color: #606060;
    cursor: pointer;
}

button:active {
    background-color: #404040;
    cursor: pointer;
}

.header {
    background-color: #202020;
    box-shadow: 0px 0px 13px 3px black;
    gap: 5px;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.posts {
    gap: 10px;
    justify-content: flex-start;
    overflow: auto;
    position: absolute;
    top: 60px;
    width: 100%;

}

.thumbnail-anchor {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.thumbnail-anchor > img {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 3px black;
}

.text-anchor {
    cursor: pointer;
    text-decoration: none;
}

.text-anchor > .flex {
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 3px black;
    color:rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 50px;
    min-width: 150px;
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #404040;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 2.5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #101010;
  }
